{% extends "adminbase.html" %}
{% block content %}


<hr style="color: white;">

<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/productentry">Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/orderview">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/trackingstatus">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/trackingstatus">Delete</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
    <hr style="color: white;">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <form action="/productentry" method="post">
                <table class="table table-borderless" style="color: white;">
                    <tr>
                        <td>Brand Name : </td>
                        <td><input name="bname" type="text" class="form-control" style="border-radius: 20px;"></td>
                    </tr>
                    <tr>
                        <td>Product Name : </td>
                        <td><input name="pname" type="text" class="form-control" style="border-radius: 20px;"></td>
                    </tr>
                    <tr>
                        <td>Category : </td>
                        <td>
                            <select name="category" class="form-control" style="border-radius: 20px;">
                                <option value="snacks">Snacks</option>
                                <option value="beverages">Beverages</option>
                                <option value="bakery">Bakery</option>
                                <option value="fruits">Fruits</option>
                                <option value="vegetables">Vegetables</option>
                                <option value="nonveg">Eggs, Meat and Fish</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Image Source : </td>
                        <td><input name="image" type="file" class="form-control" style="border-radius: 20px;"></td>
                    </tr>
                    <tr>
                        <td>Price :  </td>
                        <td><input name="price" type="text" class="form-control" style="border-radius: 20px;"></td>
                    </tr>
                </tr>
                    <td></td>
                    <td><button class="btn btn-success" type="submit">UPLOAD</button></td>
                </tr>
                </table>
            </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}