{% extends "adminbase.html" %}
{% block content %}

<h3 style="text-align: center; margin-top: 1%; font-size: xx-large; color: white;">PRODUCT MANAGEMENT FLOW</h3>
<hr style="color: white;">
<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <a class="btn btn-light" style = "margin-left: 28.5cm;" aria-current="page" href="/search">Search</a>
        <a class="btn btn-light" style = "margin-left: 0.5cm;" aria-current="page" href="/productentry">Add Products</a>
      </div>
    </div>
  </nav> 

  <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <table class="table table-striped table-dark table-bordered table-hover" >
            <thead>
            <tr>
                <th scope="col">Product-ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in product %}
            <tr>
                <th scope="row">{{ i[1] }}</th>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>Rs. {{ i[6] }}/-</td>
                <td>
                  <a href="/edit?id={{ i[1] }}" class = "btn btn-dark" style="border-radius: 20px;">UPDATE</a>
                  <a href="/delete/{{ i[1] }}" class = "btn btn-danger" style="border-radius: 20px;">DELETE</a>
                  
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
</div>
</div>


{% endblock %}