<!DOCTYPE html>
<html>
  <head>
    <title>Farmeasy Payment</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <br>
      <h1 class="text-center">Farmeasy Payment</h1>
      <br>
      <form action="/pay" method="POST">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            style="border-radius: 20px;"
            required
            name="name"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
            <input
              type="text"
              class="form-control"
              style="border-radius: 20px; height: 100px;"
              required
              name="product"
              placeholder="Address"
            />
          </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            style="border-radius: 20px;"
            required
            name="email"
            placeholder="Email-ID"
          />
        </div>
        <div class="form-group">
            <input
              type="text"
              class="form-control"
              style="border-radius: 20px;"
              required
              name="amount"
              placeholder="Amount"
              value="{{totalprice}}" readonly
            />
          </div>
        <div class="form-group">
            <button class="btn btn-success btn-block" style="border-radius: 20px;">
                Create Payment Link
            </button>
        </div>
      </form>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>