<!DOCTYPE html>
<html>
  <head>
    <title>FarmEasy Payment Gateway in Python</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
      <div class="container">
          <h1 class="text-center" style="margin-top: 2cm;">
              Your payment is successful!
          </h1>
          <p style="text-align: center; margin-top: 1cm;">Please check your confirmation email</p>
          <p style="text-align: center;">Thank You!</p>
          <button class="btn btn-success" style="background-color: white;margin-left: 12.5cm;"><a href="/dashboard" style="text-align: center;">Continue Shopping</a></button>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>